@import url("assets/fonts/fonts.css");
@import url("styles/fw-presets.css");
@import url("styles/fw-classes.css");
@import url("styles/assets.css");


/*** VARIABLES */
:root {

    --pad-y-sec: 48px;
    --pad-y-sec-sm: 24px;

    --ff-text: "Raleway";
    --ff-hd: var(--ff-text);

    --fs-text: 14px;
    --fs-text-sm: 12px;
    --fs-text-lg: 16px;
    --fs-text-xl: 18px;
    --lh-text: 1.5;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --fw-text: var(--fw-regular);
    --fw-hd: var(--fw-bold);

    --clr-text: white;
    --clr-hd: black;
    --bg-page: #333;
    --clr-red: lightcoral;
}

header .logo-wrapper img {
    height: 48px;
}

h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: var(--fs-text-lg);
}
