hr {
    border-color: #666;
}

/*** FORM */
input[type="text"] {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: unset;
    border: solid 1px #666;
    border-radius: 3px;
}
.book-item form input {
    border-top: none;
    border-left: none;
    border-top-right-radius: 0;
}
.book-item form button img {
    height: 32px;
}

/*** BOOK */
.book-item {
    padding: 24px 20px;
    border: solid 1px #666;
    border-radius: 9px;
}
.book-cover {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.book-price {
    font-size: var(--fs-text-xl);
    font-weight: var(--fw-bold);
    color: var(--clr-red);
}
.book-likes-wrapper {
    color: var(--clr-red);
}
.book-like-icon {
    margin-left: 8px;
    margin-bottom: -7px;
}
/* .book-metas tr:not(.price-likes) td:first-of-type {
    font-weight: bold;
} */
.book-item td:first-of-type {
    font-weight: var(--fw-bold);
    padding-right: var(--sp-10);
}
.book-comments td:first-of-type {
    font-weight: var(--fw-regular);
}
.book-comments-listing-wrapper {
    max-height: 200px;
    overflow: auto;
}


/***** BREAKPOINTS */
@media(max-width: 719px) {
    .book-item td:first-of-type {
    }
}
